<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Select a symbol</ion-label>
        <ion-select placeholder="Select One" (ionChange)="symbolChanged($event)">
          <ion-select-option selected value="M">M</ion-select-option>
          <ion-select-option value="A">A</ion-select-option>
          <ion-select-option value="B">B</ion-select-option>
          <ion-select-option value="O">O</ion-select-option>
          <ion-select-option value="D">D</ion-select-option>
        </ion-select>
      </ion-item>

 
  <canvas   #imageCanvas (touchstart)="handleStart($event)" (touchend)="endDrawing($event)" (touchmove)='handleMove($event)'></canvas>



</ion-content>
