<ion-header>
  <ion-toolbar>
    <ion-title>
      PWAAI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar ></ion-searchbar>

<ion-list>

  <ion-item  button *ngFor="let menu_item of menu_items" (click)="itemSelected(menu_item)">
    {{ menu_item }}
  </ion-item>        

  <!-- <ion-item *ngFor="let menu_item of menu_items" > 
    <ion-button shape="round" expand="block" size="small" color="light">>{{ menu_item }}</ion-button>
  </ion-item>-->
  <!-- <iframe width="360" height="200" [src]="API_URL"> </iframe> -->

  <ion-item *ngFor="let item of items" >
    <ion-label>
      <!-- <h3> {{item}} </h3> -->
    <!-- <iframe width="300" height="100" src="https://www.youtube.com/embed/0kmYSfQEIH8"></iframe> -->
    </ion-label>
  
  </ion-item>

</ion-list>

</ion-content>
